@import "../cores/variables";
@import "../cores/mixins";
@import "../extend/animate";
@import "../extend/aria-extend";
@import "../extend/design-card";

$card-pad: var(--card-body-pad);
$card-pad-div: calc(#{$card-pad} / 2);

$card-group-gap: var(--card-group-gap);
$card-width-02: $spacer-70 * 10;
$card-width-03: $spacer-40 * 10;
$card-width-04: $spacer-30 * 10;

$card-pill-pad: $card-pad;
$card-pill-label-size: $spacer-32;
$card-pill-height: calc(#{$card-pill-label-size} + (#{$card-pill-pad}));

.card {
	--alert-base-bg: var(--mono-000);
	display: block;
	width: 100%;
	@extend %extend-design-card;
	@extend %extend-animate;

	&.card-hover:hover {
		box-shadow: var(--ui-box-shadow), inset 0 0 0 3px hsla(var(--mono-010-hsl), 0.25);
	}

	@at-root a#{&} {
		color: inherit;
		cursor: pointer;
		text-decoration: none;
		display: block;
	}
}

.card-header {
	padding: $card-pad;
	padding-bottom: $card-pad-div;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: $font-size-18;
	font-weight: 500;

	h4 {
		margin-bottom: 0;
	}

	+ .card-body {
		padding-top: 0;
	}

	&.active .pseudo-icon {
		rotate: 90deg;
	}

	@include media-breakpoint-down(xs) {
		--card-body-pad: #{$spacer-12};
	}
}

.card-body {
	position: relative;
	padding: $card-pad;

	+ .card-footer {
		padding-top: 0;
	}

	@include media-breakpoint-down(xs) {
		--card-body-pad: #{$spacer-12};
	}
}

.card-footer {
	padding: $card-pad;
	padding-top: 0;

	@include media-breakpoint-down(xs) {
		* {
			justify-content: center;
		}
	}
}

.card-image {
	min-height: $spacer-20 * 10;
	background-color: var(--mono-005);
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: relative;

	&:first-child {
		border-top-right-radius: $round;
		border-top-left-radius: $round;
	}

	&:last-child {
		border-bottom-right-radius: $round;
		border-bottom-left-radius: $round;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.card-action {
	display: grid;
	place-content: center;
}

.card-group {
	display: grid;
	gap: $card-group-gap;

	@include media-breakpoint-down(sm) {
		display: flex;
		flex-direction: column;
	}
}
