.layout-drawer {
	position: fixed;
	pointer-events: none;
	inset: 0;
	z-index: 1010;
}

.drawer-backdrop {
	position: fixed;
	pointer-events: none;
	inset: 0;
	z-index: 1020;
	overflow: hidden;
	@extend %extend-animate;

	.is-active & {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.drawer {
	height: 100vh;
	position: fixed;
	right: -300px;
	top: 0;
	z-index: 1030;
	width: 300px;
	background-color: var(--white);
	@extend %extend-animate;

	.is-active & {
		right: 0;
	}
}
